html
    head
        link(rel='stylesheet' href='./css/index.css')
    body
        canvas.secondCanvas(width='500' height='500')
        canvas.firstCanvas(width='500' height='500')
        section.figure
        script('src'='./js/vendor.bundle.js')
        script('src'='./js/index.bundle.js')
